<div style="min-width:100%;min-height: 400%;background-image: url('../assets/img/pic3.jpg');">
  <br><br><br><br>
<div class="container" style="max-width:600px;background-color: rgb(135, 209, 157);">
    <h2>KANBAN BOARD REGISTRATION</h2>
      <form [formGroup]="regForm" (ngSubmit)="registerUser()">
      
        <!-- {{loginform.form.valid}}  -->
       <div class="form-group">
         <label for="email">Email:</label>
         <input type="email" class="form-control" placeholder="Enter email" formControlName="email" 
          required #email >
          <mat-error *ngIf="checkError('email','required')">Email is required</mat-error>
         <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched" >Email id is required</small> -->
       </div>
       <div class="form-group">
        <label for="username">UserName:</label>
        <input type="username" class="form-control" id="username" placeholder="Enter UserName" formControlName="userName" 
        required #password >
        <mat-error *ngIf="checkError('userName','required')">UserName is required</mat-error>
      <!-- <small class="text-danger" [class.d-none]="password.valid || password.untouched" >password id is required</small> -->
      </div>
       <div class="form-group">
         <label for="password">Password:</label>
         <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="password" 
         required #password >
         <mat-error *ngIf="checkError('password','required')">Password is required</mat-error>
       <!-- <small class="text-danger" [class.d-none]="password.valid || password.untouched" >password id is required</small> -->
       </div>
       <div class="form-group">
        <label for="password">Confirm Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="cpassword" 
        required #cpassword >
        <mat-error *ngIf="checkError('cpassword','required')"> Confirm Password is required</mat-error>
      <!-- <small class="text-danger" [class.d-none]="password.valid || password.untouched" >password id is required</small> -->
      </div>
       <div class="checkbox">
         <label><input type="checkbox" name="remember"> Remember me</label>
       </div>
       <button [disabled]="!regForm.valid" type="submit" class="btn btn-info">Register</button>
       <!-- <button [disabled]="Registrationform.form.invalid" type="submit" class="btn btn-info">Register</button> -->

     <!-- <small class="float-right" (click)="gotoregistration()">New user? Register here</small> -->
     <small class="float-right btextual" [routerLink]="['/login']">Existing user? Login here</small>
     
       <!-- <small class="float-right" [routerLink]="['/registration']">New user? Register here</small> -->
     </form>
      <!-- <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" 
        required #email="ngModel" [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="user.email">
        <small class="text-danger" [class.d-none]="email.valid || email.untouched" >Email id is required</small>
      </div>

      <div class="form-group">
        <label for="username">User Name:</label>
        <input type="text" class="form-control" id="userName" placeholder="Enter username" name="userName"
         #userName="ngModel"required [class.is-invalid]="userName.invalid && userName.touched" [(ngModel)]="user.userName">
      <small class="text-danger" [class.d-none]="userName.valid || userName.untouched" >username is required</small>
      </div>

      <div class="form-group">
        <label for="pwd">password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" 
      required #password= "ngModel" [class.is-invalid]="password.invalid && password.touched"  [(ngModel)]="user.password">
      <small class="text-danger" [class.d-none]="password.valid || password.untouched" >password id is required</small>
      </div>

      <div class="form-group">
        <label for="pwd">Confirm Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter conform password" name="cpassword" 
      required #cpassword= "ngModel" [class.is-invalid]="password.invalid && password.touched"  [(ngModel)]="user.password">
      <small class="text-danger" [class.d-none]="(cpassword.value==password.value)|| cpassword.untouched" >password & cpassword is required</small>
      </div>



      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button [disabled]="Registrationform.form.invalid" type="submit" class="btn btn-info">Register</button>
    
      <small class="float-right btextual" [routerLink]="['/login']">Existing user? Login here</small>  -->
     <!-- </form>  -->
</div>
<br><br><br><br><br><br>
</div>
