
<!-- <div class="container" style="max-width:600px;background-color: rgb(110, 146, 179);"></div>
<h2>KANBAN BOARD</h2>
<a routerLink="/registration"><button class="btn btn-success" > Create Project </button></a> -->
<!-- <button mat-raised-button (click)="NewKanban()">+ Create Kanban</button> -->

    
<div style="min-width:100%;min-height: 400%;background-image: url('../assets/img/background.jpeg');">
<div class="page-container">
    <div class="page-title">
      <h1>Kanban Boards</h1>
    </div>
    <br>
    <div>
        <button class="btn btn-success" (click)="openAddDialog()"> Create Project </button>
        
    </div>
     
</div>

</div>


    